<div class="row">
  <h2><%= @shop.name %> マイページ</h2>

  <div class="col-sm-12 mx-auto">
    <div class="text-right">
      <%= link_to "店舗情報を編集する", edit_shop_path, class: "btn btn-outline-secondary btn-sm" %>
    </div>

    <h3>注文履歴</h3>

    <table class="table table-sm">
      <tr>
        <th>購入日</th>
        <th>購入者</th>
        <th>購入商品</th>
        <th>注文ステータス</th>
        <th></th>
      </tr>

      <% @items.each do |item| %>
        <% item.order_details.order("created_at DESC").each do |order_detail| %>
          <tr>
            <td><%= order_detail.created_at.strftime("%Y/%m/%d") %></td>
            <td><%= order_detail.order.user.name %></td>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.order.status_i18n %></td>
            <td><%= link_to "詳細", shop_order_path(order_detail.order.id), class: "text-dark" %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  </div>
