<h2>管理者トップ(全ショップ一覧)</h2>

<table class="table table-sm">
  <tr>
    <th>店舗ID</th>
    <th>店舗名</th>
    <th>住所</th>
    <th>メールアドレス</th>
  </tr>

  <% @shops.each do |shop| %>
    <tr>
      <td><%= shop.id %></td>
      <td>
        <%= link_to shop.name, admin_shop_path(shop.id) %>
      </td>
      <td>
        〒<%= shop.postal_code %><br>
        <%= shop.address %>
      </td>
      <td><%= shop.email %></td>
    </tr>
  <% end %>
</table>
