<h2>ショップの新規登録</h2>

<%= form_with model: @shop, url: shop_registration_path, id: 'new_shop', class: 'new_shop' do |f| %>
  <%= render "shop/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :shop_image, "店舗の写真" %><br>
    <%= f.file_field :shop_image, accept: "image/*" %>
  </div><br>

  <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: "店舗名" %>
  </div><br>

  <div class="field">
    <%= f.label :postal_code, "〒" %>
    <%= f.text_field :postal_code, autofocus: true, placeholder: "000-0000" %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, autofocus: true, placeholder: "〇〇県××市～", :size => "45" %>
  </div>

  <div class="field">
    <%= f.label :telephone_number, "電話番号" %>
    <%= f.text_field :telephone_number, autofocus: true, placeholder: "ハイフンなし" %>
  </div><br>

  <div class="field">
    <%= f.label :email, "Eメールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation,"パスワード(確認用)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "登録する", class: "btn btn-outline-secondary btn-sm" %>
  </div>
<% end %>

<p>ショップのログインは<%= render "shop/shared/links" %>から</p>
