<h2>ショップのログイン</h2>

<%= form_with model: @shop, url: shop_session_path do |f| %>
  <div class="field">
    <%= f.label :email, "Eメールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-outline-secondary btn-sm" %>
  </div>
<% end %>

<p>新規登録は<%= render "shop/shared/links" %>から</p>
