<h2>顧客ユーザー</h2>

<table class="table table-sm">
  <tr>
    <th>ユーザーID</th>
    <th>名前</th>
    <th>住所</th>
    <th>メールアドレス</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td>
        <%= link_to user.name, admin_user_path(user.id) %>
      </td>
      <td>
        〒<%= user.postal_code %><br>
        <%= user.address %>
      </td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>
