<div>
  <%= link_to shop_path(@item.shop.id) do %>
    <span><%= @item.shop.name %></span>
  <% end %>
</div>

<div>
  <%= image_tag @item.get_item_image(500,300) %>
</div>

<div>
  <h3><%= @item.name %></h3>
  <h3>￥<%= @item.with_tax %></h3>
</div>

<div class="form-group">
  <%= form_with model: @cart_item, url: "/cart_items", method: :post, local: true do |f| %>
    <% if user_signed_in? %>
      <%= f.hidden_field :item_id, :value => @item.id, class: "form-control" %>
      <%= f.select :amount, *[1..10], {selected: 1}, class: "form-control-sm" %>
      <%= f.submit "カートに入れる", class: "btn btn-outline-secondary" %>
    <% else %>
      <%= f.select :amount, *[1..10], {selected: 1}, class: "form-control-sm" %>
      <%= link_to "カートに入れる", new_user_session_path, class: "btn btn-outline-secondary" %>
    <% end %>
  <% end %>
</div>

<div>
  <% if @item.favorited_by?(current_user) %>
    <h1><%= link_to "♥", item_favorites_path(@item), method: :delete %></h1>
  <% else %>
    <h1><%= link_to "♡", item_favorites_path(@item), method: :post %></h1>
  <% end %>

  <p><%= link_to "商品のレビューを書く", new_item_post_comment_path(@item) %></p>
</div>

<div id="star">
  <% @post_comments.each do |post_comment| %>
    <p>投稿者:<%= post_comment.name %></p>
    <p>評価:<%= post_comment.rate %>点</p>
    <script>
      $('#star<%= post_comment.id%>').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        scoreName: 'post_comment[rate]',
        half: false,
        readOnly: true,
        score: <%= post_comment.star %>,
      });
    </script>
    <p><%= post_comment.comment %></p>
  <% end %>
</div>
