<!DOCTYPE html>
<html>
  <head>
    <title>おうち@カフェ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="text-right">
        <% if admin_signed_in? %>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        <% elsif shop_signed_in? %>
          <%= link_to "ログアウト", destroy_shop_session_path, method: :delete %>
        <% elsif user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
    </header>

    <main>
      <p>※架空の情報です。</p>
      <%= yield %>
    </main>

    <footer>

    </footer>
  </body>
</html>
